<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FCEBM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyClub.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FE3CA6528BD536E0006F69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FE3CA7528BD536F0006F69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FE3CA7F28BD536F0006F69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FE3CAA428BD98340006F69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
